body {
	background: linear-gradient(-45deg, #ee76528f, #e73c7e74, #23a5d58c, #23d5ab88);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}